@use "../../stylesPartials/typography";
@use "../../stylesPartials/variables" as *;
@use "../../stylesPartials/mixins" as *;

.homepage {
  width: 100vw;
  height: 100vh;
  background: rgb(230, 36, 41);
  background: linear-gradient(
    200deg,
    rgba(230, 36, 41, 1) 0%,
    rgba(141, 22, 25, 1) 18%,
    rgba(0, 0, 0, 1) 95%
  );

  &-container {
    width: 100vw;
    height: 90vh;

    @include flexbox(row, space-around, center);
  }

  &__card {
    width: 25vw;
    height: 18rem;
    height: 30vh;
    transition: 0.3s;

    @include flexbox(column, space-around, center);

    &:hover {
      // transform: scale(1.1) translateY(1rem) translateZ(1rem) rotateY(-15deg);
      transform: scale(1.1);
    }
  }

  &__image {
    width: 16rem;
    height: 16rem;
    border-radius: 25px;
  }

  &__title {
    color: $color-primary-white;

    &:hover {
      color: $color-primary-yellow;
    }
  }
}
