@use "../stylesPartials/variables" as *;

// TYPOGRAPHY
@font-face {
  font-family: "Marvel";
  src: url("../assets/fonts/Marvel-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../assets/fonts/opensans-regular-webfont.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
// @font-face {
//   font-family: "HarryPotter";
//   src: url("../assets/fonts/HarryPotter.woff") format(woff);
//   font-style: normal;
// }

// .homepage__title,
// .login-form__title {
//   font-size: $mob-font-heading;
//   line-height: 10rem;
//   font-weight: 600;
// }

.App-title,
.homepage__title,
.modal__title {
  font-size: $mob-font-sub-heading;
  line-height: 4rem;
  font-weight: 600;
}

.shows__title,
.modal__platform,
.modal__icon {
  font-size: $mob-font-logo;
  line-height: 2.3rem;
  font-weight: 600;
}

.btn__back,
.btn__watch,
.shows__year,
.shows__platform,
.shows__description {
  font-size: $mob-font-body;
  line-height: 2.3rem;
}
.shows__description {
  font-size: $mob-font-body-small;
  line-height: 2.3rem;
}
.shows__platform {
  font-weight: 600;
}

// .homepage__subtext,
// .login-form__label,
// .login-form__input,
// .jobCard__company,
// .jobCard__position,
// .jobCard__status,
// .jobDetails__text {
//   font-size: $mob-font-text;
//   line-height: 4rem;
//   font-weight: 600;
// }

// .homepage__button,
// .btn__search,
// .btn__add,
// .btn__logout,
// .btn__details,
// .btn__jobDetails,
// .btn__add-job,
// .btn__cancel,
// .jobCard__date,
// .searchBar__input,
// .job-form__label,
// .job-form__input,
// .job-form__textarea {
//   font-size: $mob-font-body;
//   line-height: 2.4rem;
//   font-weight: 400;
// }
