@use "../../stylesPartials/global";
@use "../../stylesPartials/typography";
@use "../../stylesPartials/mixins" as *;
@use "../../stylesPartials/variables" as *;

main {
  height: 100vh;
  width: 100vw;

  background: rgb(230, 36, 41);
  background: linear-gradient(
    200deg,
    rgba(230, 36, 41, 1) 0%,
    rgba(141, 22, 25, 1) 18%,
    rgba(0, 0, 0, 1) 95%
  );
  background: url("../../assets/images/Marvel-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include flexbox(column, flex-start, center);
}

.App-title {
  color: $color-primary-white;
  margin-top: 58vh;
  margin-left: 5rem;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $color-primary-yellow;
    transform: scale(1.1);
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
}

.countries {
  width: 30vw;
  margin-left: 60vw;
  @include flexbox(row, space-evenly, center);
}

.btn {
  width: 10vw;
  height: 5rem;
  background-color: $color-secondary-black;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-secondary-black;
  }
}
.dropdown-item {
  width: 10vw;
  height: 4rem;
}
